.box-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/bg.jpg');
  background-size: cover;

  &__box {
    padding: $l-size $m-size;
    width: 25rem;
    border-radius: 3px;
    background: fade-out(#fff, .15);
    text-align: center;
  }

  &__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
  }
}
