html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  background-color: #fff;
  line-height: 1.6;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.is-active {
  cursor: default;
  color: #f00;
  pointer-events: none;
  font-weight: bold;
}